:root{
  --blue:#087E8B;
  --red:#FF5A5F;
  --black:#3C3C3C;
  --white:#F5F5F5;
  --creamP:#C1839F;
}
body {
  text-align: center;
  background-color: var(--blue);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 5rem;
  color: var(--white);
  text-shadow: 3px 0 var(--red);

}

footer {
  color: var(--white);
}

.a {
  background-image: url(/images/tom1.png);
}

.s {
  background-image: url(/images/tom2.png);
}

.d {
  background-image: url(/images/tom3.png);
}

.f {
  background-image: url(/images/tom4.png);
}

.j {
  background-image: url(/images/snare.png);
}

.k {
  background-image: url(/images/crash.png);
}

.l {
  background-image: url(/images/kick.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: var(--red);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 8px 2px var(--white);
  opacity: 0.5;
}

.red {
  color: var(--red);
}

.drum {
  outline: none;
  border: 10px solid var(--black);
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: var(--red);
  text-shadow: 3px 0 var(--white);
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: var(--white);
}
